*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
   
}


body{
    background-color: #95f5ff;
}


.center{
    text-align: center;
}




.dev{
    padding-top: 60px;
    padding-bottom: 20px;
    
   
}

.fotominha > img{
    width: 50%;
    margin-top: 80px;
    border-radius: 50%;
}

.frase-image{
    width: 100%;
    
}

.frase-image > img{
    width: inherit;
    height: inherit;
    margin-top: 30px;
}

.fundo-sobre{
    background-image: url('Fundo-sobre-mim.png');
    width: 100%;
    margin-top: -10px;
    height: 680px;
    color: white;
}

.fundo-sobre > p{
   font-size: 20px;
    box-sizing: border-box;
    padding: 20px;
    
}

.fundo-sobre > h1{
    box-sizing: border-box;
    padding-top: 80px;
}

.front-end{
    width: 85%;
    margin: 0 auto;
    margin-top: -200px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid ghostwhite;
    padding-bottom: 20px;
    
}

.front-end > h4{
    margin-top: 50px;
}

.front-end >p{
    margin: 30px
}

.front-end {
    border-radius: 20px;
}

.projetos-recentes{
    background-color: white;
    box-sizing: border-box;
    border: 1px solid ghostwhite;
    margin: 0 auto;
    margin-top: -30px;
    width: 85%;
    border-radius: 20px;
}

.projeto01{
    width: 85%;
    margin: 0 auto;
    
}

.projeto01 > img{
    width: inherit;
   
  
}

.projetos-recentes > h1{
    padding-top: 40px;
    padding-bottom: 20px;
}

.projetos-recentes > h3{
    padding-top: 40px;
    padding-bottom: 20px;
}
























